.footer-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(15px);
    background-color: rgb(40, 40, 40);
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}
