.pageNumbers {
    list-style: none;
    display: flex;
  }
  
  .pageNumbers li {
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
  }
  
  .pageNumbers li.active {
    background-color: yellow;
    color: black;
  }
  
  .pageNumbers li button {
    background-color: transparent;
    border: none;
    color: blueviolet;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .pageNumbers li button:hover {
    background-color: gray;
    color: red;
  }
  .pageNumbers li button:focus {
    outline: none;
  }
  
  .loadmore {
    padding: 1rem;
    background-color: transparent;
  
    color: blue;
    font-size: 1.2rem;
    border: 1px solid gray;
    cursor: pointer;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    display: flex;
    background: linear-gradient(#38c3fa, #0603b9);
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 80px;
  }
  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
