.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
// <----------- Components ----------->

.ethText {
  font-size: 12pt;
}
.ethBox {
  margin-inline: 10px;
}
.accountText {
  font-size: 12pt;
}
.accountButton {
  height: 38px;
}
.styledIdenticon {
  height: 0.75rem;
  width: 0.75rem;
}
.headerBar {
  height: 60px;
}
/*
//20px — 480px: Mobile devices.
//481px — 768px: iPads, Tablets.
//769px — 1024px: Small screens, laptops.
//1025px — 1200px: Desktops, large screens.
//1201px and more — Extra large screens, TV.
*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tempIcon {
  color: #ffffff;
}

.tab {
  margin-left: 2.5em
 }
.background-faq {
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("./assets/images/sea background 02.jpg");
  object-fit: fill;
  height: 100vh;
  margin: 0;
  
  @media (max-width: 900px) {
    height: 240vh;
  }
}
.notice-text {
  color: yellow;
  font-weight: 800;
  font-size: 1em;
  text-shadow: 2px 2px #ff0000;
}

.status-box {
  display: flex;
  flex-direction: row;
  text-align: end;
}

.status-circle0 { padding: 5px; margin-left: 9em; }
.status-circle1 { padding: 5px; margin-left: 7em; }
.status-circle2 { padding: 5px; margin-left: 6em; }
.status-circle3 { padding: 5px; margin-left: 8em; }
.status-circle-load { padding: 5px; margin-left: 5em; }

.card-status {
  background-color: rgba(77, 77, 77, 0.212);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.generic-card {
  background: #fff;
  width: 14em;
  border-radius: 0.6em;
  margin: 1em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}

.modal-card {
  background: #fff;
  width: 8em;
  font-weight: 800;
  border-radius: 0.6em;
  margin: -0.8em;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}
@media (max-width: 1150px) { .generic-card { width: 10em; } }
@media (max-width: 800px) { .generic-card { width: 10em; } }

.overlay {
  z-index: 10;
  position: absolute;
  color: black;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  border-radius: 0% 0% 70% 70%;
  height: 600px;
}

.modal-footer-balance {
  color: white;
  font-size: xl;
  justify-content: end;
}

.default-dark {
  padding-top: 80px;
  height: 100vh;
  background-color: rgb(65, 65, 65);
}

.generic-button {
  background-color: rgb(128, 128, 128);
  height: 38px;
  width: 140px;
  margin: 1px;
  padding-inline-start: 3px;
  padding-inline-end: 3px;
  border: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: transparent;

  &-on:hover { background-color: rgb(0, 0, 255) }
  &-off:hover { background-color: rgb(255, 0, 0) }
}
